<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'admin/parents/dashboard.css' %}" />
    <title>Document</title>
  </head>
  <body style="background-color: beige">
	<h1>Admin Control Panel for Parents</h1>
    <hr />

    {% for msg in messages %} {{ msg }}<br /><br />
    {% endfor %}

    <form action="{% url 'admin_parents_dashboard' %}" method="post">
      {% csrf_token %} {{ form.as_p }}
      <div class="actions">
        <button type="submit">Search</button>
      </div>
    </form>

    {% if not results %} No results found. {% endif %} {% for item in results %}
    <br />
    <div class="card">
      <div class="heading">
        <span
          >ID:
          <a href="{% url 'admin_parents_details' item.id %}"
            >{{ item.id }}</a
          ></span
        >
        <span>{{ item.name }}</span>
      </div>
      <hr />
      Email: {{ item.email }}<br />
      Phone: {% firstof item.phone '-' %}<br />
      Ward ID: {{ item.student }}<br />
    </div>
    <br /><br />
    {% endfor %}

    <br /><br />
    {% if prev_page_no %}
    <a href="{% url 'admin_parents_dashboard' %}?page={{ prev_page_no }}">Previous</a>
    <br />
    {% endif %} {% if next_page_no %}
    <a href="{% url 'admin_parents_dashboard' %}?page={{ next_page_no }}">Next</a>
    <br />
    {% endif %} Page no: {% for page_no in total_pages %}
    <a href="{% url 'admin_parents_dashboard' %}?page={{ page_no }}"
      >{{ page_no }}</a
    >&nbsp; {% endfor %}
  </body>
</html>
