body{
        /* background-color: beige; */
    background-color: beige;
    background-image: url("https://cdn.discordapp.com/attachments/673227660029329438/995765220582629526/Bangalore_Institute_of_Technology_logo_1.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}