<h1>Student Details</h1>

{% for msg in messages %}
	{{ msg }}<br><br>
{% endfor %}

<img src="{{ student.image }}" alt="Profile picture for {{ student.name }}">

<form action="{% url 'admin_students_edit' student.id %}", method="post">
	{% csrf_token %}
	ID: {{ student.id }}<br>
	Name: {{ form.name }}<br>
	Email: {{ student.email }}<br>
	Phone: {% firstof item.phone '-' %}<br>
	Branch: {{ form.branch }}<br>
	Current Semester: {{ form.current_sem }}<br>
	<input type="submit" value="Edit"><br><br>
	<button type="submit" formaction="{% url 'admin_students_delete' student.id %}">Delete Student</button>
</form>
