<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'student/account.css' %}" />
    <title>Document</title>
  </head>
  <body style="background-color: beige">
    <!-- <h1>Student Account</h1> -->

    <div class="welcomeMsg">
      <h1>Student Account</h1>

      <div class="UNwelcome">
        <a class href="{% url 'student_logout' %}"
          ><button class="logout">Logout</button></a
        >
      </div>
    </div>

    <hr />
    {% for msg in messages %} {{ msg }}<br /><br />
    {% endfor %}

    <div class="verthr"></div>

    <form
      action="{% url 'student_account' %}"
      ,
      method="post"
      ,
      enctype="multipart/form-data"
    >
	{% csrf_token %}
	<!-- <img src="{% firstof form.image.url student.image %}" alt="Profile picture for {{ student.name }}"><br>
	{{ form.image }}<br>
	{{ form.image.errors }}<br> -->
	<center>ID: {{ student.id }}</center><br>
	Name: {{ form.name }}<br>
	{{ form.name.errors }}<br>
	Email: {{ form.email }}<br>
	{{ form.email.errors }}<br>
	Phone: {{ form.phone }}<br>
	{{ form.phone.errors }}<br>
	Branch: {{ student.branch }}<br>
	Current Semester: {{ student.current_sem }}<br><br>
      <div class="actions">
        <button class="edit-button" type="submit">Edit</button>
      </div>
    </form>
  </body>
</html>
