
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body style="background-color: beige;">
	<h1>Staff Reset Password Page</h1>

{% for msg in messages %}
	{{ msg }}<br><br>
{% endfor %}

<form action="{% url 'staff_reset_password' %}?token={{ token }}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	Enter your new password: <br>
	{{ form.password }}<br>
	<input type="submit" value="Reset Password">
</form>

</body>
</html>