<h1>Staff Details</h1>

{% for msg in messages %}
	{{ msg }}<br><br>
{% endfor %}

<img src="{{ staff.image }}" alt="">

<form action="{% url 'admin_staff_edit' staff.id %}", method="post">
	{% csrf_token %}
	ID: {{ staff.id }}<br>
	Name: {{ form.name }}<br>
	Email: {{ staff.email }}<br>
	Phone: {% firstof item.phone '-' %}<br>
	Branch: {{ form.branch }}<br>
	<input type="submit" value="Edit"><br><br>
	<button type="submit" formaction="{% url 'admin_staff_delete' staff.id %}">Delete Staff</button>
</form>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            {{ error }}<br>
        {% endfor %}
    {% endfor %}
{% endif %}
