body {
  background-color: rgb(0, 0, 0);
  background-image: url("https://cdn.discordapp.com/attachments/673227660029329438/995765220582629526/Bangalore_Institute_of_Technology_logo_1.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

/* table css */

table {
  max-width: 960px;
  /* margin: 10px auto; */
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: bolder;
  background: #a6c390;
  color: #fff;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th,
td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}
