<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'staff/detail_marks.css' %}" />
    <title>Document</title>
  </head>
  <body style="background-color: beige"></body>
</html>

<h1>Student {{ student }} marks for Subject {{ subject }}</h1>
<hr />
{% for msg in messages %} {{ msg }}<br /><br />
{% endfor %}

<form action="{{ action }}" method="post">
  {% csrf_token %}
    {{ form.as_p }}
  <div class="actions">
    <button type="submit">{{ add|yesno:'Add,Edit' }}</button>
  </div>
</form>
