<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'student/attendance.css' %}" />
    <title>Document</title>
  </head>
  <body style="background-color: beige">
    <h1>{{ student_id }} Attendance</h1>
    <hr />

    <!-- {% if attendance_report %}
	Attendance report:<br>
	{% for sem, attendance in attendance_report.items %}
		<h4>Semester {{ sem }}:</h4>
		<table border="1">
			<tr>
				<th>Subject</th>
				<th>Test 1 (%)</th>
				<th>Test 2 (%)</th>
				<th>Test 3 (%)</th>
			</tr>

			{% for att in attendance %}
				<tr>
					<th> {{ att.subject }} </th>
					{% if att.test1Attendance %} <td> {{ att.test1Attendance }} </td> {% else %} <td> - </td> {% endif %}
					{% if att.test2Attendance %} <td> {{ att.test2Attendance }} </td> {% else %} <td> - </td> {% endif %}
					{% if att.test3Attendance %} <td> {{ att.test3Attendance }} </td> {% else %} <td> - </td> {% endif %}
				</tr>
			{% endfor %}
		</table>
	{% endfor %}
{% endif %} -->

    {% if attendance_report %} <b>Attendance report:</b><br />
    {% for sem, attendance in attendance_report.items %}
    <h4>Semester {{ sem }}:</h4>
    <table>
      <thead>
        <tr>
          <th scope="col">Subject</th>
          <th scope="col">Test 1 (%)</th>
          <th scope="col">Test 2 (%)</th>
          <th scope="col">Test 3 (%)</th>
        </tr>
      </thead>

      <tbody>
        {% for att in attendance %}
        <tr>
          <th scope="row">{{ att.subject }}</th>
          {% if att.test1Attendance %}
          <td>{{ att.test1Attendance }}</td>
          {% else %}
          <td>-</td>
          {% endif %} {% if att.test2Attendance %}
          <td>{{ att.test2Attendance }}</td>
          {% else %}
          <td>-</td>
          {% endif %} {% if att.test3Attendance %}
          <td>{{ att.test3Attendance }}</td>
          {% else %}
          <td>-</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %} {% endif %}
  </body>
</html>
