<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Data Portal &#8211; Bangalore Institute of Technology</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'common/home.css' %}" />

    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap"
      rel="stylesheet"
    />

    <!-- arvind chat bot start-->
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
      chat-icon="https:&#x2F;&#x2F;upload.wikimedia.org&#x2F;wikipedia&#x2F;en&#x2F;d&#x2F;d7&#x2F;Bangalore_Institute_of_Technology_logo.png"
      intent="WELCOME"
      chat-title="BIT Chatbot"
      agent-id="ba0a214e-6935-4453-9158-f1bfecf59f72"
      language-code="en"
    ></df-messenger>
    <!-- arvind chat bot end -->
  </head>

  <body>
    <div class="topNav">
      <ul class="nav navbar-nav">
        <li>
          <img
            class="navLogo"
            src="https://upload.wikimedia.org/wikipedia/en/d/d7/Bangalore_Institute_of_Technology_logo.png"
            alt=""
          />
        </li>
        <li class="portal">
          <a class="portal-link" href="{% url 'student' %}">Student</a>
        </li>
		<li class="portal">
		  <a class="portal-link" href="{% url 'parent' %}">Parents</a>
		</li>
        <li class="portal">
          <a class="portal-link" href="{% url 'staff' %}">Staff</a>
        </li>
        <li class="portal">
          <a class="portal-link" href="{% url 'admin' %}">Admin</a>
        </li>
      </ul>

      <!-- <hr /> -->
    </div>

    <div class="homeHead">
      <h1><center>Welcome to BIT Website</center></h1>
    </div>

    <div class="content">
      <div class="HomeStaticData">
        <p>
          Bangalore Institute of Technology (BIT) was started in the year 1979
          with the objective of providing quality education in the ﬁeld of
          Technology and thereby serving the society. It has reached enviable
          level of excellence in technical education. This was achieved due to
          the unconditional support of Rajya Vokkaligara Sangha, committed staff
          and students. The environment of BIT motivates the student to quench
          their thirst for knowledge. The college thrives to achieve the
          all-round development of the students.
        </p>

        <p>
          BIT has always been at the forefront of modern technology and has the
          distinction of being the ﬁrst College to introduce a full-ﬂedged
          degree in Computer Science and Engineering in Karnataka. The institute
          has visualized the areas of future growth and incorporated various
          courses over the years. At present BIT has 10 undergraduate, 10 post
          graduate and 13 research centers. BIT has an annual intake of 1300
          students. There are a number of centers carrying out
          inter-disciplinary research and many collaborative programs exist
          between the college and other professional institutions, like IISc,
          NAL. The Chemistry department has been recognized as one of the latest
          research centers in Karnataka. BIT also has the acclaim of being the
          Study center for IGNOU programmes.
        </p>

        <p>
          BIT is proud to say that it has 289 faculty members with excellent
          knowledge and teaching caliber. 83 faculty members have PhD degree and
          71 are pursuing PhD. Sixty percent of faculty members have served BIT
          for more than twenty years. The Institution has 294 efficient and
          committed team of supporting staff.
        </p>
      </div>

      <div class="homeimage">
        <!-- <img src="{% static 'common/bit_logo.png' %}" class="bitlogo" > -->
        <img
          src="https://bit-bangalore.edu.in/wp-content/uploads/2019/09/college-photo-copy-1024x655-1.jpg"
          class="bitlogo"
        />
      </div>
    </div>

    <!-- footer start -->

    <footer class="footer-distributed">
      <div class="footer-left">
        <h3>Bangalore Institute of Technology</h3>

        <p class="footer-links">
          <a href="#">Home</a>
          ·
          <a href="{% url 'student' %}">Student</a>
          ·
          <a href="{% url 'staff' %}">Staff</a>
          ·
          <a href="{% url 'parent' %}">Parents</a>
          ·
          <a href="{% url 'admin' %}">Admin</a>
        </p>

        <!-- <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>
        </div> -->
      </div>

      <!-- <div class="footer-right">
        <p>Contact Us</p>

        <form action="#" method="post">
          <input type="text" name="email" placeholder="Email" />
          <textarea name="message" placeholder="Message"></textarea>
          <button>Send</button>
        </form>
      </div> -->
    </footer>

    <!-- footer end -->
  </body>
</html>
