<h1> {{ student_id }} Attendance</h1>

{% if attendance_report %}
	Attendance report:<br>
	{% for sem, attendance in attendance_report.items %}
		<h4>Semester {{ sem }}:</h4>
		<table border="1">
			<tr>
				<th>Subject</th>
				<th>Test 1 (%)</th>
				<th>Test 2 (%)</th>
				<th>Test 3 (%)</th>
			</tr>

			{% for att in attendance %}
				<tr>
					<th> {{ att.subject }} </th>
					{% if att.test1Attendance %} <td> {{ att.test1Attendance }} </td> {% else %} <td> - </td> {% endif %}
					{% if att.test2Attendance %} <td> {{ att.test2Attendance }} </td> {% else %} <td> - </td> {% endif %}
					{% if att.test3Attendance %} <td> {{ att.test3Attendance }} </td> {% else %} <td> - </td> {% endif %}
				</tr>
			{% endfor %}
		</table>
	{% endfor %}
{% endif %}
